* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#book {
  width: 240px;
  padding-left: 30px;
  margin-top: 123px;
}

#name {
  width: 80%;
  margin-top: 70px;
  margin-bottom: 30px;
  height: 30px;
  font-size: 45px;
  padding-left: 250px;
  font-weight: 500;
  line-height: 30px;
}
.allDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
.mainDiv {
  display: flex;
  width: 100%;
}
.info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.buttons {
  width: 100%;
  background: white;
  margin-left: 100px;
  padding-left: 60px;
  padding-top: 50px;
  border: 8px solid rgb(80, 131, 251);


  margin-right: 100px;
}
.buttons button {
  width: 100px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  margin-left: 5px;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: none;
  width: 120px;
  height: 45px;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #003cc5 0%,
    #0b63f6 51%,
    #003cc5 100%
  );
}

.options {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  width: 50%;

  gap: 3px;
  padding-left: 50px;
}
.bookId {
  margin-bottom: 8px;
  display: flex;
  gap: 120px;
  align-items: center;
}
.productTitle {
  color: #707783;
  font-size: 20px;
  line-height: 24px;
  width: 50%;
}
.productValue {
  font-size: 20px;
  color: #464958;
  flex: 1 1 50%;
  line-height: 24px;
}
.aut {
  margin-bottom: 8px;
  display: flex;
  gap: 120px;
  align-items: center;
}
.aut a {
  color: #0b63f6;
  font-size: 18px;
}
.author {
  color: #707783;
  font-size: 20px;
  line-height: 24px;
  width: 50%;
}
.categ {
  margin-bottom: 8px;
  display: flex;
  gap: 120px;
  align-items: center;
}
.category {
  color: #707783;
  font-size: 20px;
  line-height: 24px;
  width: 50%;
}
.fantasy {
  font-size: 20px;
  color: #464958;
  flex: 1 1 50%;
  line-height: 24px;
}
.anons {
  margin-bottom: 8px;
  display: flex;
  gap: 120px;
  align-items: center;
}
.date {
  color: #707783;
  font-size: 20px;
  line-height: 24px;
  width: 50%;
}
.num {
  font-size: 20px;
  color: #464958;
  flex: 1 1 50%;
  line-height: 24px;
}
.pages {
  margin-bottom: 8px;
  display: flex;
  gap: 135px;
  align-items: center;
}
.pagesCount {
  color: #707783;
  font-size: 20px;
  line-height: 24px;
  width: 50%;
}
.pagesNum {
  font-size: 20px;
  color: #464958;
  flex: 1 1 50%;
  line-height: 24px;
}
.type {
  margin-bottom: 8px;
  display: flex;
  gap: 120px;
  align-items: center;
}
.cover {
  color: #707783;
  font-size: 20px;
  line-height: 24px;
  width: 50%;
}
.coverOfBook {
  font-size: 20px;
  color: #464958;
  flex: 1 1 50%;
  line-height: 24px;
}
.interpreter {
  margin-bottom: 8px;
  display: flex;
  gap: 60px;
  align-items: center;
}
.interpreter a {
  color: #0b63f6;
  font-size: 18px;
}
.interpreterOfBook {
  color: #707783;
  font-size: 20px;
  line-height: 24px;
  width: 50%;
}
.description {
  margin-top: 20px;
  width: 50%;
  padding-left: 5px;
  font-size: 20px;
  color: black;
  display: flex;
  padding-bottom: 200px;
}

.text {
  font-size: 28px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 5px;
}
.btn {
  margin-bottom: 8px;
  margin-top: 20px;
  display: flex;
  padding-top: 10px;
  padding-left: 5px;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.h1 {
  margin: 15px;
  text-decoration: underline rgb(0, 153, 255)

}
.btn2 {
  margin-bottom: 8px;
}
#car {
  width: 22px;
  height: 22px;
  padding-right: 5px;
  padding-top: 5px;
}
#point {
  padding-top: 5px;
  width: 20px;
  height: 20px;

}

.optionsAndButtons {
  display: flex;
  margin-left: 100px;
}
.textAndDisription {
  margin-left: -220px;
}

