* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#book {
  width: 240px;
  padding-left: 30px;
  margin-top: 100px;
}

#name {
  width: 600px;
  margin-top: 20px;
  margin-bottom: 40px;
  height: 30px;
  font-size: 35px;
 margin-left: -210px;
  font-weight: 500;
  line-height: 30px;
}
.allDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
  position: relative;
}
.mainDiv {
  display: flex;
  width: 100%;
}
.info {
  display: flex;
  flex-direction: column;
  width: 850px;
}
.buttons {
margin-top: -60px;
display: flex;
justify-content: flex-end;

margin-right: 350px;



}
.buttons button {
  width: 100px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  margin-left: 5px;
  border-radius: 10px;
  border: none;
  width: 120px;
  height: 45px;
  cursor: pointer;
  background: #459efa;
}

.options {
display: flex;
  flex-direction: column;
  margin-top: 2px;
  width: 400px;
  flex-wrap: wrap;

}
.bookId {
  margin-bottom: 8px;
  display: flex;
  gap: 120px;
  align-items: center;
border-bottom: 1px solid #000000;
}
.productTitle {
  color: #707783;
  font-size: 20px;
  line-height: 24px;
  width: 50%;

}
.productValue {
  font-size: 20px;
  color: #464958;
  flex: 1 1 50%;
  line-height: 24px;
}
.aut {
  margin-bottom: 8px;
  display: flex;
  gap: 120px;
  align-items: center;
  border-bottom: 1px solid #000000;
}
.aut a {
  color: #0b63f6;
  font-size: 18px;
}
.author {
  color: #707783;
  font-size: 20px;
  line-height: 24px;
  width: 50%;
}
.categ {
  margin-bottom: 8px;
  display: flex;
  gap: 120px;
  align-items: center;
  border-bottom: 1px solid #000000;
}
.category {
  color: #707783;
  font-size: 20px;
  line-height: 24px;
  width: 50%;
}
.fantasy {
  font-size: 20px;
  color: #464958;
  flex: 1 1 50%;
  line-height: 24px;
}
.anons {
  margin-bottom: 8px;
  display: flex;
  gap: 120px;
  align-items: center;
  border-bottom: 1px solid #000000;
}
.date {
  color: #707783;
  font-size: 20px;
  line-height: 24px;
  width: 50%;
}
.num {
  font-size: 20px;
  color: #464958;
  flex: 1 1 50%;
  line-height: 24px;
}
.pages {
  margin-bottom: 8px;
  display: flex;
  gap: 135px;
  align-items: center;
  border-bottom: 1px solid #000000;
}
.pagesCount {
  color: #707783;
  font-size: 20px;
  line-height: 24px;
  width: 50%;
}
.pagesNum {
  font-size: 20px;
  color: #464958;
  flex: 1 1 50%;
  line-height: 24px;
}
.type {
  margin-bottom: 8px;
  display: flex;
  gap: 120px;
  align-items: center;
  border-bottom: 1px solid #000000;
}
.cover {
  color: #707783;
  font-size: 20px;
  line-height: 24px;
  width: 50%;
}
.coverOfBook {
  font-size: 20px;
  color: #464958;
  flex: 1 1 50%;
  line-height: 24px;
}

.description {
  margin-top: 20px;
  width: 50%;
  padding-left: 5px;
  font-size: 20px;
  color: black;
  display: flex;
  padding-bottom: 200px;
}

.text {
  font-size: 28px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 5px;
  text-decoration: underline #459efa
}


.btn2 {
  margin-bottom: 8px;
}
#car {
  width: 22px;
  height: 22px;
  padding-right: 5px;
  padding-top: 5px;
}
#point {
  padding-top: 5px;
  width: 20px;
  height: 20px;
}

.optionsAndButtons {
  display: flex;
  margin-left: 100px;
}
.textAndDisription {
  margin-left: -220px;
  margin-top: 30px;
}
