* {
  margin: 0;
  padding: 0;
}
#book {
  width: 300px;
  height: 441px;
  padding: 10px;
margin-top: 70px;

}
#name {
  width: 80%;

  text-align: center;
  height: 30px;
  font-size: 29px;
  padding: 20px;
  font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}
.allDiv {
  display: flex;
  justify-content: center;

}
.mainDiv {
  display: flex;
  width: 100%;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.buttons {
  width: 100%;
  background: white;
  margin-left: 500px;
}
.buttons button {
  width: 100px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  margin-left: 5px;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: none;
  width: 120px;
  height: 45px;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #003cc5 0%,
    #0b63f6 51%,
    #003cc5 100%
  );
}
.optionsAndDescriptions {
  display: flex;
  width: 100%;
 
}
.options {
  display: flex;
  flex-direction: column;
  width: 50%;
  background: rgb(255, 255, 255);
  padding: 10px;
  
}
.options p {
    font-size: 20px;
}
.description {
  padding: 10px;
  width: 100%;
  background: rgb(51, 92, 153);
  font-size: 16px;
  color:white;
  margin-top: 500px;
}
.discreptionAndButtons {
  flex-direction: column;
  display: flex;
  width: 80%;
}
.btn{
  margin-bottom: 8px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.h1{
  margin: 15px;
}
.btn2{
  margin-bottom: 8px;
}
#car{
  width: 22px;
  height: 22px;
  padding-right: 5px;
  padding-top: 5px;
}
