* {
  box-sizing: border-box;
}
.downNavBar {
  display: flex;
  justify-content: center;
  /* gap: 10px; */
  font-size: 20px;
  margin-top: 10px;
  margin-right: -76px;
}
a {
  text-decoration: none;
  color: black;
}
.k1 b {
  font-weight: 100;
  font-family: sans-serif;
  color: white;
}
.k1 a {
  width: 147px;
}
.k1 {
  padding: 10px;
  width: 195px;
  background: #459efa;
  height: 45px;
  text-align: center;
  font-size: 17.2px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -10px;
  border: solid 1px #4c4c4c66;
  transition: all 0.15s cubic-bezier(0.98, 0.02, 1, 1.32);
  border-right-width: 3.4px;
}
.k1:active {
  background: rgb(255, 223, 39);
}
.k1:hover {
  width: 220px;
}

.k2:hover {
  background-color: rgb(227, 215, 240);
  background-color: rgb(227, 215, 240);
  border: solid 0.5px black;
  border-radius: 20px;
}

.k3:hover {
  background-color: rgb(227, 215, 240);
  background-color: rgb(227, 215, 240);
  border: solid 0.5px black;
  border-radius: 20px;
}

.k4:hover {
  background-color: rgb(227, 215, 240);
  background-color: rgb(227, 215, 240);
  border: solid 0.5px black;
  border-radius: 20px;
}

.k5:hover {
  background-color: rgb(227, 215, 240);
  background-color: rgb(227, 215, 240);
  border: solid 0.5px black;
  border-radius: 20px;
}
