.upLine {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrapper {
  height: 120px;
  padding: 15px;
}
.btnNew {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  margin-left: 5px;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: none;
  width: 120px;
  height: 45px;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #003cc5 0%,
    #0b63f6 51%,
    #003cc5 100%
  );
}

.btnNew:hover {
  background-position: right center;
}

.search {
  width: 250px;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.search {
  width: 400px;
  height: 39px;
  border-radius: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: ;
}

ul li {
  display: inline-block;
  margin-right: 10px;
}

ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

ul li a:hover {
  background-color: rgb(227, 215, 240);
  border: solid 0.5px black;
  border-radius: 20px;
}

.navBar {
  width: 400px;
}

.downNavBar {
  display: flex;
  justify-content: center;
  /* gap: 10px; */
  font-size: 20px;
  margin-top: 10px;
}
a {
  text-decoration: none;
  color: black;
}
.k1 {
  padding: 10px;
  width: 143px;
  background: gold;
  height: 27px;
  text-align: center;
  font-size: 17.2px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -10px;
  border: solid 1px #908759;
  transition: all 0.15s ease-in-out;
}
.k1:hover {
  width: 160px;
  background: rgb(255 224 0);
}

.k2:hover {
  background-color: rgb(227, 215, 240);
  background-color: rgb(227, 215, 240);
  border: solid 0.5px black;
  border-radius: 20px;
}

.k3:hover {
  background-color: rgb(227, 215, 240);
  background-color: rgb(227, 215, 240);
  border: solid 0.5px black;
  border-radius: 20px;
}

.k4:hover {
  background-color: rgb(227, 215, 240);
  background-color: rgb(227, 215, 240);
  border: solid 0.5px black;
  border-radius: 20px;
}

.k5:hover {
  background-color: rgb(227, 215, 240);
  background-color: rgb(227, 215, 240);
  border: solid 0.5px black;
  border-radius: 20px;
}

.img_logo {
  width: 50px;
  height: 50px;
}
